<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.labsticc.framework.constraints.ide.constraintLanguagesModelDefaultLocation">
      <modelLocation
            uri="platform:/config/fr.tpt.useme.settings/defaultConstraintsLanguages.constraints">
      </modelLocation>
   </extension>
   <extension
         point="fr.labsticc.framework.settings.ide.settingsModelDefaultLocation">
      <modelLocation
            uri="platform:/config/fr.tpt.useme.settings/default.settings">
      </modelLocation>
   </extension>
</plugin>
