<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.tpt.rdalte.useme.examples.category"
            name="%exampleCategoryName"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/fr.tpt.rdalte.useme.examples.category"
            class="fr.tpt.rdalte.useme.examples.GyroExamplesWizard"
            hasPages="false"
            id="fr.tpt.rdalte.useme.examples.GyroExamplesWizard"
            name="%exampleWizardNameGyro"
            project="true">
         <description>
            %exampleWizardDescrGyro
         </description>
      </wizard>
   </extension>

</plugin>
